{% extends "base.html" %}
{% block title %}Регистрация | ЙогаА{% endblock %}
{% block content %}
<div class="auth-card">
  <h2>Регистрация</h2>
  <form method="post">
      {{ form.hidden_tag() }}
      <p>{{ form.email.label }}<br>{{ form.email(size=32, autofocus=true) }}</p>
      <p>{{ form.password.label }}<br>{{ form.password(size=32) }}</p>
      <p>{{ form.confirm.label }}<br>{{ form.confirm(size=32) }}</p>
      <p>{{ form.recaptcha() }}</p>
      <input type="submit" value="Зарегистрироваться">
  </form>
  <div class="form-link">
      Уже есть аккаунт?
      <a href="{{ url_for('login') }}">Войти</a> |
      <a href="{{ url_for('index') }}">На главную</a>
  </div>
</div>
{% endblock %}
