{% extends "base.html" %}
{% block title %}Расписание | ЙогаА{% endblock %}
{% block content %}
<h2>Расписание занятий</h2>
<table style="width:100%;max-width:500px;margin:24px auto 18px auto;border-collapse:collapse;">
<tr style="background:#eafaf1;">
  <th>День</th><th>Время</th><th>Занятие</th>
</tr>
<tr><td>Пн, Ср, Пт</td><td>08:00</td><td>Хатха-йога</td></tr>
<tr><td>Вт, Чт</td><td>19:00</td><td>Виньяса-флоу</td></tr>
<tr><td>Сб</td><td>12:00</td><td>Медитация</td></tr>
<tr><td>Сб</td><td>14:00</td><td>Йога для детей</td></tr>
</table>
<p style="text-align:center;">Записаться на занятие можно в личном кабинете или по телефону.</p>
{% endblock %}
